.container-1 {
  width: calc(100% - 32px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffe8dd;
  border-radius: 2rem;
  margin: 1rem 1rem;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;

  .title {
    max-width: 1140px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    a {
      text-decoration: none;
      color: #252525;
      word-break: break-all;
    }
    .h-title {
      h1 {
        width: 100%;
        font-size: 64px;
        line-height: 96px;
        padding-bottom: 2rem;
        text-align: center;
        color: #252525;
      }
    }
    h4 {
      width: 100%;
      text-align: center;
      font-size: 24px;
      text-decoration: underline;
      line-height: 32px;
      color: #252525;
    }
    #break {
      display: none;
      color: #252525;
    }
  }

  .part-2 {
    max-width: 1140px;
    width: 100%;
    padding: 96px 0 80px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    ol {
      color: #252525;
      list-style-type: none;
      counter-reset: item;
      margin: 0;
      padding: 0;
      line-height: 32px;
      word-break: break-all;
      .list-group::before {
        display: inline-block;
      }
      .list-group {
        padding-bottom: 2rem;
        font-size: 24px;
        color: #252525;
        ::before {
          display: inline-block;
        }
        .th {
          display: inline-block;
        }
      }
    }

    li {
      display: table;
      counter-increment: item;
      color: #252525;
    }

    li:before {
      content: counters(item, ".") ". ";
      color: #252525;
    }

    li li {
      margin: 0;
      color: #252525;
    }

    li li:before {
      content: counters(item, ".") ". ";
    }

    p {
      font-size: 24px;
      line-height: 32px;
      color: #252525;
    }
    .paragraph-1 {
      padding-bottom: 2rem;
      color: #252525;
    }
    .paragraph-3 {
      a {
        color: #252525;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .container-1 {
    .title {
      padding-left: 0;
      padding-right: 0;
    }
    .part-2 {
      p {
        padding-left: 2rem;
        padding-right: 2rem;
      }
      ol {
        padding-left: 2rem;
        padding-right: 2rem;
        ol {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container-1 {
    width: calc(100% - 16px);
    margin: 8px 8px;
    .title {
      padding: 56px 0 0 0;
      padding-left: 0;
      padding-right: 0;
      a {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        word-break: break-all;
      }
      .h-title {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        h1 {
          font-size: 32px;
          padding-left: 0;
          padding-right: 0;
          padding-bottom: 1rem;
          word-break: break-word;
          line-height: 48px;
        }
      }
      h4 {
        line-height: 32px;
        font-size: 16px;
      }
      #show {
        display: none;
      }
      #break {
        display: block;
        text-align: center;
        line-height: 32px;
      }
    }

    .part-2 {
      padding: 64px 0 56px 0;
      p {
        font-size: 16px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        line-height: 24px;
      }
      ol {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        line-height: 24px;
        li {
          display: inline-block;
        }
        .list-group {
          font-size: 16px;
          padding-bottom: 1.5rem;
        }
      }
      .paragraph-1 {
        padding-bottom: 1.5rem;
      }
      .paragraph-3 {
        a {
          word-break: break-all;
        }
      }
    }
  }
}

@media only screen and (max-device-width: 1180px) and (orientation: landscape) {
  .container-1 {
    .title {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
